<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OpenAI Chat Service</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
  </head>
  <body>
    <section class="bg"></section>
    <div class="container">
      <h1>Please Login</h1>
      <form id="loginForm">
        <div class="form-control">
          <input type="text" name="username" id="username" required autocomplete="off">
          <label>Username</label>
        </div>

        <div class="form-control">
          <input type="password" name="password" id="password" required>
          <label>Password</label>
        </div>

        <button type="submit" class="login-btn">Login</button>
      </form>
    </div>
    <div class="loading-text">0%</div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
        document.getElementById("loginForm").addEventListener("submit", function(event){
            event.preventDefault()
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;

            fetch('/validate', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    username: username,
                    password: password
                }),
            })
            .then((response) => response.json())
            .then((data) => {
              if(data.url) {
                  window.location.href = data.url;
              } else {
                  alert(data.message);
              }
              })
            .catch((error) => console.error('Error:', error))
        });
    </script>
  </body>
</html>